* {
  box-sizing: border-box;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin: 0;
  background: url("./media/contours.svg") no-repeat center center fixed;
  background-size: cover;
}

a {
  color: #3eaafe;
}

a:hover {
  color: #015ca2;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 60px;
}

.img-container {
  margin: 30px 0 15px 0;
}

.img-container img {
  border-radius: 100%;
  border: 3px solid #000000;
  padding: 3px;
}

.flip-card {
  background-color: transparent;
  width: 550px;
  height: 284px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.about-container,
.projects-container {
  border-top: 1px solid #000000;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.about-container p {
  margin: 10px 5px;
}

.about-container .icons {
  margin-top: 15px;
}

.about-container .icons svg {
  color: #000000;
  font-size: 32px;
  margin: 5px;
}

.about-container .icons svg:hover {
  color: #3eaafe;
}

.projects-container {
  position: relative;
  text-align: left;
  transform: rotateY(180deg);
}

.projects-container .back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.projects-container .projects {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.projects-container .projects .project-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
}

.projects-container .projects .project-item svg {
  margin-right: 8px;
}

.footer .footer-copyright {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.footer .footer-disclaimer {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.styleless-button {
  /* BELOW RESETS DEFAULT BUTTON STYLING */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.styleless-button p {
  margin: 0;
  color: #3eaafe;
}

.styleless-button p:hover {
  color: #015ca2;
  text-decoration: underline;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* phone & tablet portrait specific properties */
@media only screen and (max-width: 899px) {
  body {
    overflow: auto;
  }

  .main-container {
    margin-top: 15px;
  }

  .img-container img {
    height: 200px;
    width: 200px;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 380px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .about-container {
    font-size: 16px;
    max-width: 300px;
  }

  .footer .footer-copyright {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .footer .footer-disclaimer {
    font-size: 9px;
  }
}
