* {
  box-sizing: border-box;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
  position: relative;
  width: 100vw;
  margin: 0;
  background: url("./media/contours.svg") no-repeat center center fixed;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 60px;
}

.img-container {
  margin: 30px 0 15px 0;
}

.img-container img {
  border-radius: 100%;
  border: 3px solid #000000;
  padding: 3px;
}

.about-container {
  border-top: 1px solid #000000;
  padding: 10px;
  font-size: 18px;
  max-width: 550px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.about-container p {
  margin: 10px 5px;
}

.about-container p a {
  color: #3eaafe;
}

.about-container .icons {
  margin-top: 15px;
}

.about-container .icons svg {
  color: #000000;
  font-size: 32px;
  margin: 5px;
}

.about-container .icons svg:hover {
  color: #3eaafe;
}

.footer .footer-copyright {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.footer .footer-disclaimer {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* phone & tablet portrait specific properties */
@media only screen and (max-width: 899px) {
  body {
    overflow: auto;
  }

  .main-container {
    margin-top: 15px;
  }

  .img-container img {
    height: 200px;
    width: 200px;
  }

  .about-container {
    font-size: 16px;
    max-width: 300px;
  }

  .footer .footer-copyright {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .footer .footer-disclaimer {
    font-size: 9px;
  }
}
